.movies {
    display : flex;
    flex-wrap: wrap;
}

.movie {
    width: 300px;
    height: 430px;
    border: 4mm ridge rgba(224, 37, 37, 0.6);
    margin: 25px;
}


/* new images should be the same dimensions */
img {
    width: 185px;
    height: 273px;
}

body {
background-image: url("https://www.transparenttextures.com/patterns/dark-stripes.png");
}